:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--background);
    padding: 1rem var(--horizontal-padding);
    margin-top: auto;
}