<app-container>
    <div class="about-wrapper">
        <div class="about-left">
            <p class="intro">what's up! i'm</p>
            <h1 class="name">Keeroll</h1>
            <p class="description">
                Senior software engineer focused on building clean, scalable full-stack applications.
            </p>
        </div>

        <div class="about-right">
            <div class="socials">
                <a href="https://github.com/yourname" target="_blank" aria-label="GitHub">
                    <i class="icon github"></i>
                </a>
                <a href="https://linkedin.com/in/yourprofile" target="_blank" aria-label="LinkedIn">
                    <i class="icon linkedin"></i>
                </a>
                <!-- Add more icons -->
            </div>

            <div class="tags">
                <app-tag label="#angular"></app-tag>
                <app-tag label="#dotnet"></app-tag>
                <app-tag label="#webdev"></app-tag>
            </div>
        </div>
    </div>
</app-container>